@if (searchOpened()) {
  <div @modalAnimation #searchContainer class="modal-backdrop">
    @if (getHistory().length > 0) {
      <p class="history">Search history (latest 10 entries): {{ getHistory().join(', ') }}</p>
    } @else {
      <p class="history">Search history empty</p>
    }

    <div id="search-container">
      <div id="search">
        <mat-icon fontIcon="search" aria-label="search icon"></mat-icon>
        <input
          #searchInput
          type="text"
          [value]="query()"
          (input)="query.set($any($event.target).value)"
          placeholder="Search..."
          autocomplete="off"
        />
      </div>

      @if (searchActive()) {
        <div id="search-results" @searchResultsAnimation>
          <ng-container *ngIf="filteredItems$ | async as items">
            @if (items.length > 0) {
              @if (shouldUseVirtualScroll(items)) {
                <cdk-virtual-scroll-viewport
                  #virtualScroll
                  itemSize="50"
                  class="virtual-scroll-viewport"
                >
                  @for (opt of items; track opt.id) {
                    <div
                      class="search-result"
                      [attr.data-item-id]="opt.id"
                      (click)="onSelectItem(opt)"
                    >
                      {{ opt.title }}
                    </div>
                  }
                </cdk-virtual-scroll-viewport>
              } @else {
                @for (opt of items; track opt.id) {
                  <div
                    class="search-result"
                    [attr.data-item-id]="opt.id"
                    (click)="onSelectItem(opt)"
                  >
                    {{ opt.title }}
                  </div>
                }
              }
            } @else {
              <div class="search-result no-results">
                <span>No results…</span>
              </div>
            }
          </ng-container>
        </div>
      }
    </div>
  </div>
} @else {
  <p class="guide">Press Ctrl+K to start searching</p>
}
